body {
  font-family: Helvetica, Arial, sans-serif;
}

.top-bar {
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  display: flex;
  justify-content: center;
}

.nav-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.logo-container {
  align-items: flex-start;
  display: flex;
}

.login-container {
  align-items: baseline;
  display: flex;
  justify-content: center;
}

.login-label {
  color: white;
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 0;
}

.input-custom {
  border: 1px solid #1d2a5b;
  border-radius: 0;
  font-size: 12px;
  height: 22.5px;
  margin: 0;
  padding: 4px 3px 3px;
  width: 150px;
}

.input-custom:focus {
  border: 1px solid #1d2a5b;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.login-link {
  color: #9cb4d8;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.btn-custom {
  background-color: #4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 6px;
}

.main-content {
  background: linear-gradient(white, #d3d8e8);
  height: 100%;
  min-height: 75vh;
}

.main-container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.welcome-container {
  margin-right: 10%;
  max-width: 30%;
  min-width: 10%;
}

.signup-container {
  width: 30%;
}

.welcome-text {
  color: #0e385f;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

.welcome-img {
  border: 0;
  height: 200px;
  width: 100%;
}

.signup-text-container {
  margin-top: 20px;
  padding: 20px 0;
}

.signup-title {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 5px;
}

.signup-text {
  color: #1d2129;
  font-size: 19px;
  font-weight: 500;
}

.form-row-custom {
  margin-bottom: 10px;
}

.form-title-custom {
  color: #90949c;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0 5px;
}

.form-radio-custom-container {
  margin-bottom: 20px;
  margin-left: 10px;
}

.form-radio-label-custom {
  color: #1d2129;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  padding: 0 10px 0 3px;
}

.add-info-container {
  margin-bottom: 10px;
  width: 316px;
}

.form-add-info-custom {
  color: #777;
  font-size: 11px;
  line-height: 0;
}

.btn-register-custom {
  background: linear-gradient(#79bc64, #578843);
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin: 10px 0;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.page-text-custom {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
  padding-top: 15px;
}

.footer-container {
  padding-top: 5px;
}

.footer-container a {
  font-size: 12px;
  padding-left: 10px;
}

.copyright {
  color: #737373;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 10px;
}
