body {
  background-image: linear-gradient(white , rgb(212 , 212 , 212 ));
  box-sizing: border-box;
  font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}
  
h1 {
  color: rgb(51 , 51 , 51);
  font-size: 35px;
  margin-bottom: 15px;
}

header {
  background-color: rgb(58 , 89 , 152);
  border-bottom: 1px solid rgb(19 , 57 , 131);
  display: flex;
  height: 82px;
  justify-content: space-between;
  min-width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}

header a img {
  height: 75px;
  padding-top: 5px;
  width: 200px;
}

table {
  color: white;
  display: flex;
  font-weight: 100;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 1px;
}

.button-enter {
  background-color: rgb(66 , 103 , 178);
  border: 1px solid rgb(41 , 72 , 125);
  border-radius: 2px;
  color: white;
  margin-left: 10px;
  padding: 4px;
}

.button-enter:hover {
  background-color: rgb(58 , 89 , 152);
}

.text-form {
  font-size: 12px;
}

.password {
  border: 1px solid;
  padding: 4px;
}

.forget-password a {
  color: rgb(140 , 176 , 213);
  font-size: 12px;
  text-decoration: none;

}
.forget-password a :hover {
  text-decoration: underline;
}

.left-content {
  color: rgb(12 , 58 , 100);
  font-size: 14px;
  line-height: 1.4;
  padding: 20px 0;
  width: 470px;
}

.rigth-form {
  height: auto;
  padding-left: 120px;
  width: 450px;
}

.rigth-form p {
  color: dimgray;
  font-size: 18px;
}

.fullname {
  border: 1px solid #bdc7d8;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px 7px;
}

.info-user {
  border: 1px solid #bdc7d8;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 10px;
  padding: 8px 10px;
  width: 425px;
}

.last-name-user {
  margin-left: 10px;
}
.born-date {
  color: rgb(146 , 148 , 156);
  font-weight: 900;
  padding-top: 20px;
}

.day {
  margin-right: -3px;
  padding: 5px;
}

.month {
  margin-right: -3px;
  padding: 5px;
}

.year {
  padding: 5px;
}

.day-month-year {
  background-color: white;
  color: rgb(34, 34, 34);
  margin-top: 5px;
}

.interrogation {
  width: 15px;
}
  
.interrogation-born-date {
  margin: 1px 1px 0;
}

.gender-container {
    color: rgb(146 , 148 , 156);
    font-weight: 900;
    padding: 10px 0;
}

.gender {
  padding-bottom: 10px;
}

.gender-container label {
  color: rgb(51 , 51 , 51);
  font-weight: 200;
  padding-top: 10px;
}

.interrogation-gender {
  margin: 5px 10px 0;
}

.terms-paragr p {
  font-size: 10px;
}

.register {
  background: linear-gradient(#67ae55, #578843);
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  padding: 8px 45px;
  text-shadow: 1px solid rgb(10 , 10 , 10); 
}

.register:hover {
  background: linear-gradient(#76c562, #578843);
  border-color: #3b6e22 #3b6e22 #2c5115;
}

.register-terms {
  line-height: 1.4;
}

.register-terms a {
  text-decoration: none;
}

.register-terms a:hover {
  text-decoration: underline;
}

.create-page a {
  text-decoration: none;
}

.create-page a:hover {
  text-decoration: underline;
}

.create-page {
  color: rgb(90 , 90 , 90);
  font-size: 13px;
  font-weight: 500;
  margin: 35px 0;
}
