/* * {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
} */

body {
  margin: 0;
  padding: 0;
}

.body-bottom {
  display: flex;
  justify-content: center;
}

.body-left {
  display: flex;
  flex-direction: column;
  height: 326px;
  justify-content: flex-end;
  width: 580px;
}

.body-right {
  /* background-color: aqua; */
  height: 629.828px;
  max-width: 400px;
  width: 400px;
}

.frase {
  color: #0e385f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 450px;
}

.formulario {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.global-menu {
  color: white;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  height: 78px;
  justify-content: space-between;
  width: 980px;
}

.facebook-logo {
  width: 200px;
}

.inputs {
  border-radius: 4px;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.input-2 {
  border-radius: 4px;
  height: 30px;
  margin-bottom: 10px;
  max-width: 400px;
  padding-left: 10px;
  padding-right: 8px;
  width: 379px;
}

.open-account {
  height: 118px;
  width: 400px;
}

.top-bar {
  background-color: #3b5998;
  display: flex;
  height: 82px;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}
